@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Poppins&family=Sacramento&display=swap');

*,*::before, *::after {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body, html {
    margin: 0;
}

body {
    height: 100vh;
    background-color: #434343;
}

input:focus {
    outline: none;
}

#root {
    color: #FFF;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    line-height: 1em;
    margin: 0;
    font-size: 3em;
    text-align: center;
    word-wrap: normal;
}

#combo-text {
    font-size: 2em;
    margin: 10px 0;
}

#image-container {
    border: solid 3px #FFF;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    background-image: url(../assets/background.png);
    background-size: cover;
    cursor: pointer;
}

#pokemon-image {
    width: 100%;
    height: 100%;
    border: none;
}

#buttons-container {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    row-gap: 20px;
    column-gap: 70px;
    padding: 20px;
}

.hidden {
    filter: brightness(0) contrast(100%)
}

.buttons {
    border: 2px solid #FFF;
    border-radius: 5px;
    width: 12em;
    height: 2.3em;
    cursor: pointer;
    box-shadow: 0 0 5px 1px #000;
    transition: transform 200ms;
}

.buttons:hover {
    cursor: pointer;
    box-shadow: inset 0 0 10px 0px #AEAEAE, 0 0 5px 1px #000E;
    transform: translateY(-2px);
}

@media (max-width: 600px) {
    #title {
        font-size: 2em;
    }
}